:root {
    --booleaner-dark: black;
    --booleaner-accent: #36B1E7;
    --booleaner-pattern-bg: #4EA0FF;
    --booleaner-soft: #888888;
    --booleaner-highlight: #FFFF00;
    --booleaner-table-light: white;
    --booleaner-table-header: #20A9E5;
    --booleaner-table-medium: #B1E5F2;
}

body {
    margin: 0;
    line-height: 1.3rem;
    letter-spacing: -0.15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    margin: 0 3px;
}

footer {
    margin: 0 3px;
}

/* header */
#site_header {
    background-color: var(--booleaner-pattern-bg);
    background-image: url(../img/pattern.png);
    background-size: 240px;
    background-repeat: repeat-x;
}

#booleaner_logo {
    margin: 0 3px;
    height: 30px;
    margin-top: 24px;
}

/* /header */

#article_header {
    letter-spacing: -0.7px;
    margin-top: 11px;
    margin-bottom: 4px;
}

#article_desc {
    margin-top: 0px;
    color: var(--booleaner-soft);
    font-size: 9.5px;
    font-weight: bold;
    line-height: 90%;
}

#fake_link {
    color: var(--booleaner-accent);
}

#article_date {
    font-size: 8px;
    font-weight: normal;
}

/* /title */

#tbl_1 {
    height: 230px
}

#tbl_2 {
    height: 230px;
}

#photos_sources {
    margin-top: 0px;
    font-size: 7.5px;
    line-height: 7px;
}

/* / first photos */

.paragraph {
    font-size: 10.5px;
    line-height: 10px;
}

.highlight {
    background-color: var(--booleaner-highlight);
}

.list {
    padding: 8px;
}

/* /first paragraph */

#table {
    padding: 0 0px;
    border-collapse: collapse;
    line-height: normal;
    text-justify: distribute-all-lines;
    margin-bottom: 15px;
}

#thead {
    background-color: var(--booleaner-table-header);
    color: var(--booleaner-table-light);
    font-weight: bolder;
}

.table_alternate_row {
    background-color: var(--booleaner-table-medium);
}

.td_column_width {
    min-width: 230px;
}