:root {
    --booleaner-dark: black;
    --booleaner-accent: #36B1E7;
    --booleaner-pattern-bg: #4EA0FF;
    --booleaner-soft: #808080;
    --booleaner-highlight: #FFFF00;
    --booleaner-table-light: white;
    --booleaner-table-header: #20A9E5;
    --booleaner-table-medium: #B1E5F2;
}

body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    margin: 0 5px;
}

#site_header {
    background-color: var(--booleaner-pattern-bg);
    background-image: url(../img/pattern.png);
    background-size: 240px;
    background-repeat: repeat-x;
}

#booleaner_logo {
    margin: 0 3px;
    margin-top: 25px;
    height: 30px;
    margin-bottom: 4px;
}

#article_header {
    margin-top: 10px;
    letter-spacing: -0.7px;
    line-height: 1;
}

#article_desc {
    a
}